<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Page</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item (click)="updateName()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Name </ion-col>
          <ion-col class="text-center" size="7" *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.firstName">
            <span> Tap here to edit. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updateEmail()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Email </ion-col>
          <ion-col class="text-center" size="7" *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.email">
            <span> Tap here to edit. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updatePassword()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Password </ion-col>
          <ion-col class="text-center" size="7" class="placeholder-profile">
            <span> Tap here to edit. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Notifications:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content no-padding>
      <div class = "wrapper">
        <ion-item>
          <ion-label>Notification Time:</ion-label>
          <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
        </ion-item>
        <ion-toggle checked></ion-toggle>
      </div>
      <div class = "wrapper">
        <div class="weekDays-selector">
          <input type="checkbox" id="weekday-sun" class="weekday" />
          <label for="weekday-sun">S</label>
          <input type="checkbox" id="weekday-mon" class="weekday" />
          <label for="weekday-mon">M</label>
          <input type="checkbox" id="weekday-tue" class="weekday" />
          <label for="weekday-tue">T</label>
          <input type="checkbox" id="weekday-wed" class="weekday" />
          <label for="weekday-wed">W</label>
          <input type="checkbox" id="weekday-thu" class="weekday" />
          <label for="weekday-thu">T</label>
          <input type="checkbox" id="weekday-fri" class="weekday" />
          <label for="weekday-fri">F</label>
          <input type="checkbox" id="weekday-sat" class="weekday" />
          <label for="weekday-sat">S</label>
        </div>
      </div>
      <div>
        <ion-button id ='save_setting'  color="primary">Save</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Points / Progress Indicator Here</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Tree widget here with progress bar for next level-up.
    </ion-card-content>
  </ion-card>
</ion-content>