<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Page</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item (click)="updateName()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Name </ion-col>
          <ion-col class="text-center" size="7" *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.firstName">
            <span> Tap here to edit. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updateEmail()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Email </ion-col>
          <ion-col class="text-center" size="7" *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.email">
            <span> Tap here to edit. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updatePassword()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Password </ion-col>
          <ion-col class="text-center" size="7" class="placeholder-profile">
            <span> Tap here to edit. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Set Notifications:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content no-padding>
      <div class = "wrapper">
        <ion-item>
          <ion-label>Notification Time:</ion-label>
          <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45" [(ngModel)]="notifyTime"></ion-datetime>
        </ion-item>
      </div>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>On the following days:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class = "wrapper">
            <div class="weekDays-selector">
              <input type="checkbox" id="weekday-sun" class="weekday" (click) = 'onSun($event)'/>
              <label for="weekday-sun">S</label>
              <input type="checkbox" id="weekday-mon" class="weekday" (click) = 'onMon($event)'/>
              <label for="weekday-mon">M</label>
              <input type="checkbox" id="weekday-tue" class="weekday" (click) = 'onTue($event)'/>
              <label for="weekday-tue">T</label>
              <input type="checkbox" id="weekday-wed" class="weekday" (click) = 'onWed($event)'/>
              <label for="weekday-wed">W</label>
              <input type="checkbox" id="weekday-thu" class="weekday" (click) = 'onThu($event)'/>
              <label for="weekday-thu">T</label>
              <input type="checkbox" id="weekday-fri" class="weekday" (click) = 'onFri($event)'/>
              <label for="weekday-fri">F</label>
              <input type="checkbox" id="weekday-sat" class="weekday" (click) = 'onSat($event)'/>
              <label for="weekday-sat">S</label>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <div class = "wrapper">
        <ion-button (click)="getDays()" ion-button color="primary" full>Schedule</ion-button>
        <ion-button (click)="cancelAll()" ion-button color="danger" full>Leave me alone!</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Progress Towards Next Tree-Level:</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-progress-bar color="primary" [value]="progressBar(this, this.eventList)"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
</ion-content>