ion-list-header {
  background-color: #ececec;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.placeholder-profile {
  color: #cccccc;
}

.dob-label {
  color: #000000 !important;
  padding: 10px !important;
  max-width: 50% !important;
}

.wrapper{
  display: flex;
  justify-content: center;
  margin: 2px;
}
.weekDays-selector input {
  display: none!important;

}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}
#save_setting{
  bottom: 10%;
}
