<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-card>
    <ion-card-header>
      Gratitude Statement:
    </ion-card-header>
    <ion-card-subtitle>{{currentEvent?.name}}</ion-card-subtitle>
    <ion-card-content>
      <span>
        {{currentEvent?.content}}
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>