<ion-header>
  <ion-toolbar>
    <ion-title>gratitude timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- refresh -->
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- /refresher -->

  <!-- card -->
  <!--TODO: Implement featured article injection into the timeline-->
  <ion-card *ngFor="let post of posts">

    <!-- item -->
    <ion-item>
      <!--TODO: differentiate featured and journal entries.-->
      <!--<ion-avatar item-left>-->
        <!--<img src="assets/image/avatar.png">-->
      <!--</ion-avatar>-->
      <h2>{{ post.gratitude_q }}</h2>
      <p>{{ post.time }}</p>
    </ion-item>
    <!-- /item -->

    <!-- content -->
    <ion-card-content>
      <p text-justify content>{{ post.content }} ... <a href=#>See More</a></p>
    </ion-card-content>
    <!-- /content -->

  </ion-card>
  <!-- /card -->

  <div padding [hidden]="posts && posts.length > 0">
    <p text-center>No post at the moment, try to write one!</p>
  </div>

</ion-content>
