<ion-header>
  <ion-toolbar>
    <ion-title>Gratitude Statement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- form -->
  <form #writeForm="ngForm">
    <ion-list margin-top>
      <!-- content -->
      <ion-item>
        <ion-textarea rows="5" type="text" placeholder="AI generated gratitude statement"></ion-textarea>
      </ion-item>
      <!-- /content-->
      <div class = "wrapper">
        <ion-button color="primary" [routerLink]="['/feed']">
          Post
        </ion-button>
      </div>

      <!-- /post -->

    </ion-list>
  </form>
  <!-- /form -->

  <div class="wrapper">
    <p>plant icon here</p>
  </div>

</ion-content>


