<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>New Gratitude Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked">{{gratitudeStatement}}</ion-label>
    <ion-input [(ngModel)]="eventName" type="text">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="createEvent(eventName)">
    Post
  </ion-button>
  <ion-button expand="block" (click)="getGratitude()">
    Get Gratitude Statement
  </ion-button>
</ion-content>