<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>New Gratitude Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Today's gratitude prompt: </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{gratitudeStatement}}
    </ion-card-content>
  </ion-card>
  <ion-item>

    <ion-input [(ngModel)]="eventName" type="text">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="createEvent(eventName)">
    Post
  </ion-button>
  <ion-button expand="block" (click)="getGratitude()">
    Generate Gratitude Prompt
  </ion-button>
</ion-content>